

.col-12 {
	background: grey;
}


.col-md-6 {
	text-align: right;
	background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS3LlMdZ8lHkqwazlxaD_slDAF6i_Q_kDDcvf3amW3-NUdqD4PkVw");
	background-size: 100% 100%;
	filter: grayscale(50%);

}

.col-md-6:nth-child(2) {
	text-align: left;
	background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRtRgS5GDhjBNjzpl6jDeRrf1N7AJefwRi_m_RcFAp3J2eOl31Utw");
	background-size: 100% 100%;
	filter: grayscale(50%);
}


.container {
	padding-top: 7rem;
}




h1 {

	font-size: 7em;
	margin: auto;
	padding-left: 3rem;
	color: blue;
}

h2 {

	color: white;

	font-weight: bold;
	padding-top: 3rem;
	padding-bottom: 3rem;
	font-size: 5.5rem;


}

#navbar{

	padding-top: 3rem;

}


#aboutButt {
	text-align: center;
	padding-right: 2em;
	border: none;
	background: none;
	color: blue;
	outline: none;
	font-size: 3rem;

}


#contactButt {
	padding-right: 2em;
	border: none;
	background: none;
	color: blue;
	outline: none;
	font-size: 3rem;
}


#busidevButt {
	padding-right: 2em;
	border: none;
	background: none;
	color: blue;
	outline: none;
	font-size: 3rem;
}


#webdevButt {
	padding-right: 3rem;
	border: none;
	background: none;
	color: blue;
	outline: none;
	font-size: 3rem;
}



/*#bg {*/
	/*padding-top: 10em;*/
	/*padding-bottom: 50em;*/
	/*position: fixed;*/
	/*top: 5em;*/
	/*left: 0;*/
	/*!* Preserve aspet ratio *!*/

	/*min-width: 100%;*/
	/*min-height: 100%;*/
/*}*/


#aboutContent {
	padding: 4rem 4rem 4rem 4rem;
	border: 3px solid blue;
	color: blue;
	font-weight: bold;
	line-height: 2rem;

}

#webdevContent {
	padding: 4rem 4rem 4rem 4rem;
	border: 3px solid darkblue;
	color: blue;
	font-weight: bold;
	line-height: 2rem;

}

#busidevContent {
	padding: 4rem 4rem 4rem 4rem;
	border: 3px solid darkblue;
	color: blue;
	font-weight: bold;
	line-height: 2rem;
}


#contactsContent {
	padding: 4rem 4rem 4rem 4rem;
	border: 3px solid darkblue;
	color: 	blue;
	font-weight: bold;
	line-height: 2rem;
}




