




.col-md-6 {
	text-align: center;
}


.col-4 {
	padding-right: 5em;

}




h1 {

	font-size: 7em;
	margin: auto;
	padding-left: 1.5em;
	color: darkblue;
}

h2 {

	color: darkblue;
	text-align: center;
	font-weight: bold;
	padding-top: 3em;


}

#navbar{

	padding-top: 2.95em;

}


#aboutButt {
	text-align: center;
	padding-right: 10em;
	border: none;
	background: none;
	color: darkblue;
	outline: none;

}


#contactButt {
	padding-right: 10em;
	border: none;
	background: none;
	color: darkblue;
	outline: none;
}


#busidevButt {
	padding-right: 10em;
	border: none;
	background: none;
	color: darkblue;
	outline: none;
}


#webdevButt {
	padding-right: 12em;
	border: none;
	background: none;
	color: darkblue;
	outline: none;
}



#bg {
	padding-top: 10em;
	padding-bottom: 50em;
	position: fixed;
	top: 5em;
	left: 0;
	/* Preserve aspet ratio */

	min-width: 100%;
	min-height: 100%;
}


#aboutContent {
	padding-top: 5em;



}