
/*body {*/
	/*background-image: url("https://ak5.picdn.net/shutterstock/videos/19526800/thumb/1.jpg");*/
	/*background-size: 100% 100%;*/
	/*filter: grayscale(10%);*/
	/*min-width: 100%;*/
	/*min-height: 100%;*/
/*}*/
/*body {*/
	/*background: #00E24F;*/
/*}*/


#bg {
	/*padding-top: 10em;*/
	padding-bottom: 50em;
	position: fixed;
	top: 5em;
	left: 0;
	/* Preserve aspet ratio */

	min-width: 100%;
	min-height: 100%;
	/*filter: grayscale(100%);*/
	filter: blur(.5rem);
}

.col-12 {
	background: linear-gradient(45deg, rgba(87,87,87,1) 0%, rgba(99,99,99,1) 12%, rgba(115,115,115,1) 25%, rgba(79,79,79,1) 39%, rgba(48,48,48,1) 50%, rgba(0,0,0,1) 51%, rgba(20,20,20,1) 60%, rgba(89,89,89,1) 75%, rgba(31,31,31,1) 91%, rgba(20,20,20,1) 100%);
	box-shadow: 10px 10px 5px #888888;

}


.col-md-12 {
	padding-top: 7rem;

}



.col-md-9 {
	text-align: center;
	/*background-image: url("http://esq.h-cdn.co/assets/cm/15/05/980x490/54cb0d02a6129_-_10256001_10152063941956674_4116247399527307681_o.jpg");*/
	/*background-size: 100% 100%;*/
	/*filter: grayscale(100%);*/
	/*border: .5rem solid blue;*/
	background: linear-gradient(45deg, rgba(87,87,87,1) 0%, rgba(99,99,99,1) 12%, rgba(115,115,115,1) 25%, rgba(79,79,79,1) 39%, rgba(48,48,48,1) 50%, rgba(0,0,0,1) 51%, rgba(20,20,20,1) 60%, rgba(89,89,89,1) 75%, rgba(31,31,31,1) 91%, rgba(20,20,20,1) 100%);
	box-shadow: 10px 10px 5px #888888;



}

.col-md-11:nth-child(2) {
	text-align: right;
	/*background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRtRgS5GDhjBNjzpl6jDeRrf1N7AJefwRi_m_RcFAp3J2eOl31Utw");*/
	/*background-size: 100% 100%;*/
	/*filter: grayscale(100%);*/
	/*border: .5rem solid blue;*/
	background: linear-gradient(45deg, rgba(87,87,87,1) 0%, rgba(99,99,99,1) 12%, rgba(115,115,115,1) 25%, rgba(79,79,79,1) 39%, rgba(48,48,48,1) 50%, rgba(0,0,0,1) 51%, rgba(20,20,20,1) 60%, rgba(89,89,89,1) 75%, rgba(31,31,31,1) 91%, rgba(20,20,20,1) 100%);
	box-shadow: 10px 10px 5px #888888;
}



#ccontainer {
	padding-top: 7rem;
}

.container {
	padding-top: 7rem;
}



h1 {

	font-size: 7em;
	margin: auto;
	padding-left: 3rem;
	color: gold;


}

h2 {



	padding-top: 3rem;
	padding-bottom: 3rem;
	font-size: 4rem;
	color:gold;



}

#navbar{

	padding-top: 3rem;
}



#aboutButt {
	text-align: center;
	padding-right: 2em;
	border: none;
	background: none;
	color: gold;
	outline: none;
	font-size: 3rem;


}


#contactButt {
	padding-right: 2em;
	border: none;
	background: none;
	color: gold;
	outline: none;
	font-size: 3rem;
}


#busidevButt {
	padding-right: 2em;
	border: none;
	background: none;
	color: gold;
	outline: blue;
	font-size: 3rem;
}


#webdevButt {
	padding-right: 3rem;
	border: none;
	background: none;
	color: gold;
	outline: none;
	font-size: 3rem;
}





#aboutContent {
	padding: 4rem 4rem 4rem 4rem;
	/*border: 3px solid blue;*/
	color: white;
	font-weight: bold;
	line-height: 2rem;
	background: linear-gradient(45deg, rgba(87,87,87,1) 0%, rgba(99,99,99,1) 12%, rgba(115,115,115,1) 25%, rgba(79,79,79,1) 39%, rgba(48,48,48,1) 50%, rgba(0,0,0,1) 51%, rgba(20,20,20,1) 60%, rgba(89,89,89,1) 75%, rgba(31,31,31,1) 91%, rgba(20,20,20,1) 100%);
	box-shadow: 10px 10px 5px #888888;


}

#webdevContent {
	padding: 4rem 4rem 4rem 4rem;
	/*border: 3px solid blue;*/
	color: white;
	font-weight: bold;
	line-height: 2rem;
	background: linear-gradient(45deg, rgba(87,87,87,1) 0%, rgba(99,99,99,1) 12%, rgba(115,115,115,1) 25%, rgba(79,79,79,1) 39%, rgba(48,48,48,1) 50%, rgba(0,0,0,1) 51%, rgba(20,20,20,1) 60%, rgba(89,89,89,1) 75%, rgba(31,31,31,1) 91%, rgba(20,20,20,1) 100%);
	box-shadow: 10px 10px 5px #888888;

}

#busidevContent {
	padding: 4rem 4rem 4rem 4rem;
	/*border: 3px solid blue;*/
	color: white;
	font-weight: bold;
	line-height: 2rem;
	background: linear-gradient(45deg, rgba(87,87,87,1) 0%, rgba(99,99,99,1) 12%, rgba(115,115,115,1) 25%, rgba(79,79,79,1) 39%, rgba(48,48,48,1) 50%, rgba(0,0,0,1) 51%, rgba(20,20,20,1) 60%, rgba(89,89,89,1) 75%, rgba(31,31,31,1) 91%, rgba(20,20,20,1) 100%);
	box-shadow: 10px 10px 5px #888888;
}


#contactsContent {
	padding: 4rem 4rem 4rem 4rem;
	/*border: 3px solid blue;*/
	color: 	white;
	font-weight: bold;
	line-height: 2rem;
	background: linear-gradient(45deg, rgba(87,87,87,1) 0%, rgba(99,99,99,1) 12%, rgba(115,115,115,1) 25%, rgba(79,79,79,1) 39%, rgba(48,48,48,1) 50%, rgba(0,0,0,1) 51%, rgba(20,20,20,1) 60%, rgba(89,89,89,1) 75%, rgba(31,31,31,1) 91%, rgba(20,20,20,1) 100%);
	box-shadow: 10px 10px 5px #888888;
}


section:nth-child(2) {
	padding-top: 20rem;
}

h3 {
	color: gold;
}